{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Docker Image Downloader</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Docker Image Downloader</h1>   
{{ end }}