{{ define "Index" }}
  {{ template "Header" }}
    {{ template "SearchBar"  }}
    <h2> Docker Images You Can Download Below </h2>
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Link</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Id }}</td>
        <td> {{ .Name }} </td>
        <td><a href="/download?id={{ .Id }}">download</a></td> 
        <td><a href="/delete?id={{ .Id }}&link={{ .Link}}">Delete</a></td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}