{{ define "SearchBar" }}
<form action="/search" method="post" id="form1">
    <input name="name" type="text" placeholder="enter a name of image"/>
</form>

<button type="submit" form="form1" value="Submit">Submit</button>
{{ end }}